@import "@fontsource-variable/montserrat/wght-italic.css";
@import "@fontsource-variable/lora/wght-italic.css";
@import "@fontsource/hind-madurai/300.css";
@import "@fontsource/hind-madurai/400.css";
@import "@fontsource/hind-madurai/500.css";
@import "@fontsource/hind-madurai/600.css";
@import "@fontsource/hind-madurai/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
